<?xml version="1.0"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <add id="Nomad_ShippingReturns::requests" title="Return Requests" module="Nomad_ShippingReturns" sortOrder="100" parent="Magento_Sales::sales" action="shippingreturns/request/index" resource="Nomad_ShippingReturns::requests" />
</menu>
